[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/album/*"
  to = "/.netlify/functions/album/:splat"
  status = 200
  force = true

[functions]
  directory = "netlify/functions"